[Unit]
Description=YARN History Server
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
User={{ service_users.mapred.name }}
Group={{ service_users.hadoop.group }}
Type=simple
ExecStart={{ hadoop.home_path }}/bin/mapred historyserver
ExecStop=/bin/kill -15 $MAINPID
WorkingDirectory={{ hadoop.home_path }}
TimeoutStartSec=1min
Restart=on-failure
RestartSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target