[Unit]
Description=YARN resourcemanager
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
User={{ service_users.yarn.name }}
Group={{ service_users.hadoop.group }}
Type=forking
ExecStart={{ hadoop.home_path }}/bin/yarn --daemon start resourcemanager
ExecStop={{ hadoop.home_path }}/bin/yarn --daemon stop resourcemanager
ExecStopPost={{ hadoop.home_path }}/bin/yarn --daemon stop resourcemanager
WorkingDirectory={{ hadoop.home_path }}
TimeoutStartSec=1min
Restart=no
RestartSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target