<?xml version="1.0"?>

<configuration>
    <property>
        <name>mapreduce.jobhistory.address</name>
        <value>hdfs://{{ groups['namenodes'][0] }}:10020</value>
    </property>
</configuration>