[libdefaults]
	default_realm = KAHOVEC.DEV
	kdc_timesync = 1
	ccache_type = 4
	forwardable = true
	proxiable = true

[realms]
	KAHOVEC.DEV = {
		kdc = {{ groups['krb5server'][0] }}
		admin_server = {{ groups['krb5server'][0] }}
		default_domain = kahovec.dev
        }