[Unit]
Description=Hive Metastore Service
After=network.target
After=hive-server2.service
Requires=hive-server2.service

[Service]
Type=simple
User=hive
ExecStart={{ hive.home_path }}/bin/hive --service metastore

[Install]
WantedBy=multi-user.target
