[Unit]
Description=Spark Standalone Worker
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
User=spark
Group=spark
Type=forking
ExecStart=/opt/spark/sbin/start-worker.sh spark://{{ groups['controllers'][0] }}:7077 -h {{ inventory_hostname }}
ExecStop=/opt/spark/sbin/stop-worker.sh
WorkingDirectory=/opt/spark
TimeoutStartSec=1min
Restart=no
RestartSec=30
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target