<configuration>
    <property>
        <name>dfs.replication</name>
        <value>2</value>
    </property>
    <property>
        <name>dfs.datanode.data.dir</name>
        <value>file:///srv/hadoop/hdfs/data</value>
    </property>
    <property>
        <name>dfs.namenode.name.dir</name>
        <value>file:///srv/hadoop/hdfs/name</value>
    </property>
    <property>
        <name>dfs.blocksize</name>
        <value>268435456</value>
    </property>
</configuration>